@model GearShop.Models.Brand

@{
    ViewData["Title"] = "Xóa Thương hiệu";
    Layout = "_LayoutStaff";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h4 class="mb-4">Xóa Thương hiệu</h4>
                <h6>Bạn có chắc chắn muốn xóa thương hiệu này?</h6>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.BrandName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.BrandName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd class="col-sm-10">
                        @(Model.Status == 1 ? "Đang hoạt động" : "Không hoạt động")
                    </dd>
                </dl>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <div class="d-flex justify-content-end">
                        <a asp-action="Index" class="btn btn-secondary me-2">Quay lại</a>
                        <button type="submit" class="btn btn-danger">Xóa</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>