@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject GearShop.Data.ApplicationDbContext _context


@{
	var user = await UserManager.GetUserAsync(User);
	var roles = user != null ? await UserManager.GetRolesAsync(user) : new List<string>();
}
<partial name="_NotificationPartial" />
@if (
true)
{
	int countItem = 0;
	if (user != null)
	{
		countItem = _context.carts.Where(c => c.UserId == user.Id).Count();
	}
	<a asp-action="Index" asp-controller="CustomerCarts" asp-route-Id="@(user!= null?user.Id:"")">
		<i class="fas fa-shopping-cart text-primary" style="color: black"></i>
		<span class="cart-count" id="cartCount">@countItem</span>
	</a>

} 